
@{
    ViewBag.Title = "Adm";
}
@if (TempData["MensagemLogin"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemLogin"]
    </div>
}

<div style="color:linen">
    <h1>Administrativo</h1>
</div>

